@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: #002793;
        --secondary :#AD00FF ;
        --client-font : 'Plus Jakarta Sans',sans-serif;  
    }
    body { @apply font-client text-[#0A183F]}
    p{@apply text-[#515A74]}
  }

  @layer components{
      /*===================================
            LAYOUT PART START
  ====================================*/
 
  .container { @apply max-w-[1158px] mx-auto px-4 }
  .row { @apply flex flex-wrap -m-3 }
  .col-1 { @apply w-1/6 p-3 }
  .col-2 { @apply w-1/5 p-3 }
  .col-3 { @apply w-1/4 p-3 }
  .col-4 { @apply w-1/3 p-3 }
  .col-5 { @apply w-2/5 p-3 }
  .col-6 { @apply w-1/2 p-3 }
  .col-7 { @apply w-3/5 p-3 }
  .col-8 { @apply w-2/3 p-3 }
  .col-9 { @apply w-3/4 p-3 }
  .col-10 { @apply w-4/5 p-3 }
  .col-11 { @apply w-5/6 p-3 }
  .col-12 { @apply w-full p-3 }

  .hamburger{@apply w-6 h-[2px] bg-white my-1}
  .sidebar-active {@apply !opacity-100 !visible}
  .sidebar-active > div {@apply !translate-x-0 }
  #open-sidebar{@apply bg-gradient}

  .text-gradient { @apply  bg-gradient-to-250 from-primary to-secondary text-transparent bg-clip-text}
  .bg-gradient{ @apply bg-gradient-to-250 from-primary to-secondary}  
  .swiper-wrapper{@apply mx-6}
  .inline-flex {
    cursor: grab;
}

.inline-flex:active {
    cursor: grabbing;
}
}